@import "~susy/sass/susy";

$susy: (
	columns: 12,
	gutters: 1/4,
	math: fluid,
	output: float,
	gutter-position: after
);


.wrap {
	border: 1px solid;
	margin-top: 80px;
	@include container(80em);

	&.four{

		.content {
			@include span(3);
			height: 50px;
			background: grey;
			color: red;

			&:last-of-type {
				color: orange;
				@include span(3 last);
			}
		}
	}

	&.twelve {

		.content {
			@include span(1);
			height: 50px;
			background: grey;
			color: red;

			&:last-of-type {
				color: orange;
				@include span(1 last);
			}
		}
	}


}

/* Tells Susy there's 8 columns in the content */
// div{


// }
// div.content:last-child {
// 	// @import(last);
// }

/* Tells Susy there's 4 columns in the sidebar, and its the last item on the row. */
